{{define "about"}}
{{template "header" .}}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">About Us</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Purus sit amet volutpat consequat mauris nunc congue nisi. Cursus eget nunc
                scelerisque viverra mauris. Sed vulputate odio ut enim blandit volutpat maecenas volutpat. Dictumst
                vestibulum rhoncus est pellentesque elit ullamcorper. Ipsum suspendisse ultrices gravida dictum.
                Faucibus vitae aliquet nec ullamcorper. Quis vel eros donec ac odio tempor orci. Tristique senectus et
                netus et malesuada. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Ac tortor dignissim
                convallis aenean et tortor. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus.
                Sit amet aliquam id diam maecenas. Ornare massa eget egestas purus viverra accumsan in. Consectetur
                lorem donec massa sapien faucibus et molestie. Consequat id porta nibh venenatis cras sed felis eget
                velit.
            </p>
        </div>
    </div>

</main>

{{template "footer" .}}
{{end}}