{{define "index"}}
{{template "header" .}}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Blogss</h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    {{range .articles}}
    <div class="row">
      <div class="col">
        <h2>{{.Title}}</h2>
        <p>{{.Content}}...</p>
        <p><a class="btn btn-secondary" href="/articles/{{.ID}}" role="button">View details »</a></p>
      </div>
    </div>
    <hr>
    {{end}}

  </div> <!-- /container -->

</main>

{{template "footer" .}}
{{end}}